<div class="w3-container w3-content" style="max-width:1400px;margin-top:10px">    
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card-2 w3-round w3-white w3-margin-top">
                <div class="w3-container">
                    <h4 class="w3-center">Mi Perfil</h4>           
                    <p class="w3-center"><i class="fa fa-user w3-xxlarge secondary-text-color"></i></p>
                    <p><i class="fa fa-music w3-margin-right secondary-text-color"></i>Nombre Banda</p>
                    <p><i class="fa fa-hashtag w3-margin-right secondary-text-color"></i>Hashtag</p>
                    <p><i class="fa fa-globe w3-margin-right secondary-text-color"></i>Pais</p>
                    <p><i class="fa fa-users w3-margin-right secondary-text-color"></i>Seguidres</p>
                </div>
            </div>
            <br>
            
            <div class="w3-card-2 w3-round">
                <a href="#/band/discos" class="w3-btn-block light-primary-color primary-text-color w3-left-align w3-border"><i class="fa fa-microphone w3-margin-right"></i>Discografia</a>
            </div>
            <br>
            
            <div class="w3-card-2 w3-round w3-white w3-hide-small">
                <div class="w3-container">
                    <p>Generos</p>
                    <p>
                        <span class="w3-tag w3-small w3-theme-d5">News</span>
                        <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                        <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                        <span class="w3-tag w3-small w3-theme-d2">Games</span>
                        <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                        <span class="w3-tag w3-small w3-theme">Games</span>
                        <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                        <span class="w3-tag w3-small w3-theme-l2">Food</span>
                        <span class="w3-tag w3-small w3-theme-l3">Design</span>
                        <span class="w3-tag w3-small w3-theme-l4">Art</span>
                        <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                    </p>
                </div>
            </div>
            <br>                       
        </div>
        
        <div class="w3-col m9 w3-margin-top">
            
            
            
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin-left"><br>
                <!--img src="img_avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"-->
                <span class="w3-right w3-opacity">1 min</span>
                <h4>John Doe</h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                <!--img src="img_avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"-->
                <span class="w3-right w3-opacity">16 min</span>
                <h4>Jane Doe</h4><br>
                <hr class="w3-clear">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>  
            
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">32 min</span>
                <h4>Angie Jane</h4><br>
                <hr class="w3-clear">
                <p>Have you seen this?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div> 
            
            <!-- End Middle Column -->
        </div>
        
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
    
        
</div>