<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:10px">    
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card-2 w3-round w3-white w3-margin-top">
                <div class="w3-container">
                    <h4 class="w3-center">Mi Perfil</h4>
                    <p class="w3-center"><i class="fa fa-user w3-xxlarge secondary-text-color"></i></p>
                    <p><i class="fa fa-user w3-margin-right secondary-text-color"></i> Nombre de usuario</p>
                    <p><i class="fa fa-venus-mars w3-margin-right secondary-text-color"></i> Gender</p>
                    <p><i class="fa fa-birthday-cake w3-margin-right secondary-text-color"></i> Birthday</p>
                    <p><i class="fa fa-headphones w3-margin-right secondary-text-color"></i>Bandas Seguidas</p>
                </div>
            </div>
            <br>
            
            <div class="w3-card-2 w3-round">
                <a href="#" class="w3-btn-block dark-primary-color w3-left-align w3-border primary-text-color"><i class="fa fa-music w3-margin-right"></i>Mis Artistas</a>
                <a href="#" class="w3-btn-block default-primary-color primary-text-color w3-left-align w3-border"><i class="fa fa-pencil w3-margin-right"></i>Editar Perfil</a>
                <a href="#" class="w3-btn-block light-primary-color primary-text-color w3-left-align w3-border"><i class="fa fa-search w3-margin-right"></i>Descubrir</a>
            </div>
            <br>
            
            <div class="w3-card-2 w3-round w3-white w3-hide-small">
                <div class="w3-container">
                    <p>Generos</p>
                    <p>
                        <span class="w3-tag w3-small w3-theme-d5">News</span>
                        <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                        <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                        <span class="w3-tag w3-small w3-theme-d2">Games</span>
                        <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                        <span class="w3-tag w3-small w3-theme">Games</span>
                        <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                        <span class="w3-tag w3-small w3-theme-l2">Food</span>
                        <span class="w3-tag w3-small w3-theme-l3">Design</span>
                        <span class="w3-tag w3-small w3-theme-l4">Art</span>
                        <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                    </p>
                </div>
            </div>
            <br>                       
        </div>
        
        <!-- Middle Column -->
        <div class="w3-col m9">
                        
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                <!--img src="img_avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"-->
                <span class="w3-right w3-opacity">12/12/2015</span>
                <h2>Noticia</h2>
                <h4>Banda 1</h4><br>
                <hr class="w3-clear">
                <p>Noticia: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                <!--img src="img_avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"-->
                <span class="w3-right w3-opacity">1/12/2015</span>
                <h2>Evento de firmas</h2>
                <h4>Banda 2</h4><br>
                <hr class="w3-clear">
                <p>Fecha y Lugar del evento</p>
                <p>Evento: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>  
            
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">12/11/2015</span>
                <h2>Concierto</h2>
                <h4>Banda 3</h4><br>
                <hr class="w3-clear">
                <p>Fecha y Lugar del evento</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <button class="w3-btn accent-color w3-margin-bottom w3-right">Ver</button>
            </div> 
            
            <!-- End Middle Column -->
        </div>
        
        <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
</div>
