
<div class="w3-container w3-content" style="max-width:1400px;margin-top:10px">    
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m2">
            <!-- Profile -->
            <div class="w3-card-2 w3-round w3-white w3-margin-top">
                <div class="w3-container">
                    <h4 class="w3-center">Discografia</h4>         
                    <p><a href="">Disco1</a></p>
                    <p><a href="">Disco2</a></p>
                    <p><a href="">Disco3 </a></p>
                </div>                    
            </div>
        </div>
        
        <div class="w3-col m10">
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-responsive"><br>
                <div class="w3-right">Calificar y comentar <i class="fa fa-star"></i></div>
                <div class="w3-left">
                    <p>Nombre Disco</p>
                    <p>Descripcion</p>
                    <p>Sello</p>
                    <p>Genero</p>
                    <p>Anio</p>                    
                </div>
                <table class="w3-table w3-bordered w3-striped">
                    <thead class="dark-primary-color text-primary-color">
                        <tr >
                            <th>Nombre</th>
                            <th>Duracion</th>
                            <th>Link</th>
                            <th>En vivo</th>
                            <th>Limitada</th>
                            <th>Bonus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cancion1</td>
                            <td>hh:mm:ss</td>
                            <td><a href="">wwww.sdfsdf.com</a></td>
                            <td><input class="w3-radio" type="radio" checked disabled></td>
                            <td><input class="w3-radio" type="radio" disabled></td>
                            <td><input class="w3-radio" type="radio" checked disabled></td>
                        </tr>
                        <tr>
                            <td>Cancion</td>
                            <td>hh:mm:ss</td>
                            <td></td>
                            <td><input class="w3-radio" type="radio" disabled></td>
                            <td><input class="w3-radio" type="radio" disabled></td>
                            <td><input class="w3-radio" type="radio" checked disabled></td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            
            
        </div>
        
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
    
</div>