<div class="w3-container">
    <div class="w3-card-8 w3-round-large w3-white w3-center">
        
        <div id="Fan" class="w3-container">
            <form class="w3-container w3-half w3-right">
                
                <p>
                    <label>Nombre<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" ng-model="fanInfo.nombre" required minlength="1" maxlength="30">
                </p>
                
                <p>
                    <label>Apellido<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" ng-model="fanInfo.apellido" required minlength="1" maxlength="30">
                </p>

                <p>
                    <label>Nombre Usuario</label>
                    <input class="w3-input w3-disabled" type="text" ng-model="fanInfo.username" disabled="">
                </p>

                <p>
                    <label>Genero </label><br>
                    <input class="w3-radio" type="radio" name="gender" value="M" ng-model="fanInfo.genero" ng-checked="fanInfo.genero==='M'">
                    <label class="w3-validate">Masculino</label>
    
                    <input class="w3-radio" type="radio" name="gender" value="F" ng-model="fanInfo.genero" ng-checked="fanInfo.genero==='F'">
                    <label class="w3-validate">Femenino</label>
                </p>

                <p>
                    <label>Fecha Nacimiento <sup>*</sup></label>
                    <input type="text" name="bday" class="w3-input" ng-model="fanInfo.fechaNac" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d
" placeholder="dd/mm/yyyy" required>
                </p>

                <p>
                    <label>Pais</label>
                    <select class="w3-select" ng-model="bandInfo.idPais">
                        <option disabled selected>Seleccione un pais</option>
                        <option ng-repeat="pais in paises" ng-value="pais.idPais">{{pais.pais}}</option>
                    </select>
                </p>
                
                <p>                </p>

                    <label>Genero Musicales Favoritos</label><br>
                    <div ng-repeat="genero in generos">
                    <input class="w3-check" type="checkbox"  ng-click="toggleSelectionF(genero.idGenero)">
                    <label>{{genero.nombre}}</label>
                    </div>
                    
                <p>
                    <label>Foto Perfil</label>
                    <input id="fotoF" type="file" accept="image/jpg,image/png,image/gif" class="w3-input" onchange="readURL(this,'#blahF');">
                </p>
            </form>
            <div class="w3-center w3-half">
                <h3>Foto Perfil</h3>
                <img id="blahF" ng-src="{{fanInfo.fotoPerfil}}" alt=""  style="width: 400px; height: 400px"/>
            </div>
        </div>
             <div class="w3-center">
                 <button class="w3-btn-block w3-red w3-half w3-margin-bottom w3-border w3-round-large" ng-click="desactivarCuenta()">Desactivar Cuenta</button>
                <button class="w3-btn-block accent-color w3-half  w3-margin-bottom w3-border w3-round-large" ng-click="actualizarDatos()">Actualizar</button>
                
            </div>
    </div>

</div>