<div class="w3-container">
    <div class="w3-card-8 w3-round-large w3-white w3-center" ng-init="openLogIn('Fan')">
        <ul class="w3-navbar w3-black w3-margin-top">
            <li class="w3-half w3-border dark-primary-color"><a ng-click="openLogIn('Band')">Banda</a></li>
            <li class="w3-half w3-border dark-primary-color"><a ng-click="openLogIn('Fan')">Fan</a></li>
        </ul>
        <div id="Band" class="w3-container" ng-hide="isFan">
            <form class="w3-container w3-half" name="formBanda">
                <p>
                    <label class="w3-text-red" ng-show="error">{{error}}</label>
                </p>
                <p>
                    <label>Nombre de la Banda<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" required ng-model="newBand.nombreBanda">
                </p>
                
                <p>
                    <label>Nombre Usuario<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" required ng-model="newBand.username">
                    
                    
                    
                <p>
                    <label>Constraseña<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate w3-margin-bottom" type="password" ng-model="newBand.password" required>
                </p>
                
                <p>
                    <label>Hashtag<sup class="w3-text-red">*</sup></label>
                    <input type="text" class="w3-input" placeholder="#hashtag" ng-model="newBand.hashtag">
                </p>
                
                <p></p>
                <label>Géneros Musicales<sup class="w3-text-red">*</sup></label><br/>
                    <div ng-repeat="genero in generos" style="display: inline-block; margin: 5px;">
                    <input class="w3-check" type="checkbox"  ng-click="toggleSelectionB(genero.idGenero)">
                    <label>{{genero.nombre}}</label>
                </div>
                
                <p>
                    <label>Biografía<sup class="w3-text-red">*</sup></label>
                    <textarea class="w3-input w3-border" maxlength="300" cols="30" required ng-model="newBand.biografia"></textarea>
                </p>
                
                <p>
                    <label>Integrantes<sup class="w3-text-red">*</sup></label>
                    <textarea class="w3-input w3-border" maxlength="300" required ng-model="newBand.integrantes"></textarea>
                </p>
                
                <p>
                    <label>País<sup class="w3-text-red">*</sup></label>
                    <select class="w3-select" ng-model="newBand.idPais">
                        <option selected disabled>Seleccione un pais</option>
                        <option ng-repeat="pais in paises" ng-value="pais.idPais">{{pais.pais}}</option>
                    </select>
                </p>
                
                <p>
                    <label>Año de Creación<sup class="w3-text-red">*</sup></label>
                    <input type="number" class="w3-input" min="0" ng-model="newBand.anioCreacion">
                </p>
                
                <p>
                    <label>Foto Perfil</label>
                    <input type="file" ng-model="myfileB" accept="image/jpg,image/png,image/gif" class="w3-input" base-sixty-four-input>
                </p>
                
                <input type="submit" value="Registrarse" class="w3-btn-block accent-color w3-margin-bottom" ng-click="registerBand()">
                
            </form>
            <div class="w3-center w3-half">
                <h3>Foto Perfil</h3>
                <img id="blahB" ng-src="data:{{myfileB.filetype}};base64,{{myfileB.base64}}" alt=""  style="width: 400px; height: 400px"/>
            </div>       
        </div>
        
        <div id="Fan" class="w3-container" ng-show="isFan">
            <form class="w3-container w3-half w3-right" name="formFan">
                
                <p>
                    <label>Nombre<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" ng-model="newFan.nombre" required minlength="1" maxlength="30">
                </p>
                
                <p>
                    <label>Apellido<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" ng-model="newFan.apellido" required minlength="1" maxlength="30">
                </p>
                
                <p>
                    <label>Nombre Usuario<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" ng-model="newFan.username" required minlength="4" maxlength="12">
                </p>
                
                <p>
                    <label>Contraseña<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate w3-margin-bottom" type="password" ng-model="newFan.password" required>
                </p>
                
                <p>
                    <label>Género <sup class="w3-text-red">*</sup></label><br>
                    <input class="w3-radio" type="radio" name="gender" value="M" ng-model="newFan.genero" checked>
                    <label class="w3-validate">Masculino</label>
                    
                    <input class="w3-radio" type="radio" name="gender" value="F" ng-model="newFan.genero">
                    <label class="w3-validate">Femenino</label>
                </p>
                
                <p>
                    <label>Fecha Nacimiento <sup class="w3-text-red">*</sup></label>
                    <input type="text" name="bday" class="w3-input" ng-model="newFan.fechaNac" placeholder="dd/mm/yyyy" required>
                </p>
                
                <p>
                    <label>País<sup class="w3-text-red">*</sup></label>
                    <select class="w3-select" ng-model="newFan.idPais">
                        <option disabled selected>Seleccione un pais</option>
                        <option ng-repeat="pais in paises" ng-value="pais.idPais">{{pais.pais}}</option>
                    </select>
                </p>
                
                <p></p>
                <label>Géneros Musicales Favoritos<sup class="w3-text-red">*</sup></label><br/>
                <div ng-repeat="genero in generos" style="display: inline-block; margin: 5px;">
                    <input class="w3-check" type="checkbox"  ng-click="toggleSelectionF(genero.idGenero)">
                    <label>{{genero.nombre}}</label>
                </div>
                
                <p>
                    <label>Foto Perfil</label>
                    <input type="file" ng-model="myfileF" accept="image/jpg,image/png,image/gif" class="w3-input" base-sixty-four-input>
                </p>
                
                <input type="submit" value="Registrarse" ng-click="registerFan()" class="w3-btn-block accent-color w3-margin-bottom">
                <h1 class="w3-text-red">{{error}}</h1>
            </form>
            
            <div class="w3-center w3-half">
                <h3>Foto Perfil</h3>
                <img id="blahF" ng-src="data:{{myfileF.filetype}};base64,{{myfileF.base64}}" alt=""  style="width: 400px; height: 400px"/>
            </div>
        </div>
    </div>
    <!---{{myfile.filename}}
            {{myfile.filetype}}
            {{myfile.filesize / 1024/1024}}MB
            {{myfile.base64}}
            {{myfile}}--->
</div>
