<div class="w3-container">
    
    <div class="w3-card-8 w3-round-large w3-white w3-center" ng-init="openLogIn('Fan')">
        <ul class="w3-navbar w3-black w3-margin-top">
            <li class="w3-half w3-border dark-primary-color"><a ng-click="openLogIn('Band')">Banda</a></li>
            <li class="w3-half w3-border dark-primary-color"><a ng-click="openLogIn('Fan')">Fan</a></li>
        </ul>
        <div id="Band" class="w3-container" ng-hide="isFan">
            <form class="w3-container w3-half">
                <p>
                    <label class="w3-text-red" ng-show="error">{{error}}</label>
                </p>
                <p>
                    <label>Nombre de la Banda</label>
                    <input class="w3-input w3-validate" type="text" required ng-model="newBand.nombreBanda">
                </p>
                
                <p>
                    <label>Nombre Usuario</label>
                    <input class="w3-input w3-validate" type="text" required ng-model="newBand.username">
                    
                    
                    
                <p>
                    <label>Constrasena</label>
                    <input class="w3-input w3-validate" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}" required ng-model="newBand.password">
                </p>
                
                <p>
                    <label>Hashtag</label>
                    <input type="text" class="w3-input" ng-model="newBand.hashtag">
                </p>
                
                <p></p>
                    <label>Generos Musicales</label>
                    <div ng-repeat="genero in generos">
                    <input class="w3-check" type="checkbox"  ng-click="toggleSelectionB(genero.idGenero)">
                    <label>{{genero.nombre}}</label>
                </div>
                
                <p>
                    <label>Biografia</label>
                    <textarea class="w3-input" maxlength="300" cols="30" required ng-model="newBand.biografia"></textarea>
                </p>
                
                <p>
                    <label>Integrantes</label>
                    <textarea class="w3-input" maxlength="300" required ng-model="newBand.integrantes"></textarea>
                </p>
                
                <p>
                    <label>Pais</label>
                    <select class="w3-select" ng-model="newBand.idPais">
                        <option disabled selected>Seleccione un pais</option>
                        <option ng-repeat="pais in paises" ng-value="pais.idPais">{{pais.pais}}</option>
                    </select>
                </p>
                
                <p>
                    <label>Año de Creacion</label>
                    <input type="number" class="w3-input" min="0" ng-model="newBand.anioCreacion">
                </p>
                
                <p>
                    <label>Foto Perfil</label>
                    <input id="inputFileToLoadB" type="file" accept="image/jpg,image/png,image/gif" class="w3-input" onchange="encodeImageFileAsURL();">
                </p>
                
                <input type="submit" value="Registrarse" class="w3-btn-block accent-color w3-margin-bottom" ng-click="registerBand()">
                
            </form>
            <div class="w3-center w3-half">
                <h3>Foto Perfil</h3>
                <img id="blahB" src="http://i.imgur.com/G3C6CE0.png" alt=""  style="width: 400px; height: 400px"/>
            </div>       
        </div>
        
        <div id="Fan" class="w3-container" ng-show="isFan">
            <form class="w3-container w3-half w3-right">
                
                <p>
                    <label>Nombre<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" ng-model="newFan.nombre" required minlength="1" maxlength="30">
                </p>
                
                <p>
                    <label>Apellido<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" ng-model="newFan.apellido" required minlength="1" maxlength="30">
                </p>
                
                <p>
                    <label>Nombre Usuario<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate" type="text" ng-model="newFan.username" required minlength="4" maxlength="12">
                </p>
                
                <p>
                    <label>Contrasena<sup class="w3-text-red">*</sup></label>
                    <input class="w3-input w3-validate w3-margin-bottom" type="password" ng-model="newFan.passsword" required>
                </p>
                
                <p>
                    <label>Genero </label><br>
                    <input class="w3-radio" type="radio" name="gender" value="M" ng-model="newFan.genero" checked>
                    <label class="w3-validate">Masculino</label>
                    
                    <input class="w3-radio" type="radio" name="gender" value="F" ng-model="newFan.genero">
                    <label class="w3-validate">Femenino</label>
                </p>
                
                <p>
                    <label>Fecha Nacimiento <sup>*</sup></label>
                    <input type="text" name="bday" class="w3-input" ng-model="newFan.fechaNac" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d
                           " placeholder="dd/mm/yyyy" required>
                </p>
                
                <p>
                    <label>Pais</label>
                    <select class="w3-select" ng-model="newFan.idPais">
                        <option disabled selected>Seleccione un pais</option>
                        <option ng-repeat="pais in paises" ng-value="pais.idPais">{{pais.pais}}</option>
                    </select>
                </p>
                
                <p></p>
                <label>Generos Musicales Favoritos</label><br/>
                <div ng-repeat="genero in generos">
                    <input class="w3-check" type="checkbox"  ng-click="toggleSelectionF(genero.idGenero)">
                    <label>{{genero.nombre}}</label>
                </div>
                
                <p>
                    <label>Foto Perfil</label>
                    <input type="file" ng-model="myfile" accept="image/jpg,image/png,image/gif" class="w3-input" base-sixty-four-input>
                </p>
                
                <input type="submit" value="Registrarse" ng-click="registerFan()" class="w3-btn-block accent-color w3-margin-bottom">
                <h1 class="w3-text-red">{{error}}</h1>
            </form>
            
            <div class="w3-center w3-half">
                <h3>Foto Perfil</h3>
                <img id="blahF" ng-src="data:{{myfile.filetype}};base64,{{myfile.base64}}" alt=""  style="width: 400px; height: 400px"/>
            </div>
        </div>
    </div>
    <!---{{myfile.filename}}
            {{myfile.filetype}}
            {{myfile.filesize / 1024/1024}}MB
            {{myfile.base64}}
            {{myfile}}--->
</div>
