<div class="w3-container">
    <div class="w3-card-8 w3-round-large w3-white w3-center">
        
        <div id="Fan" class="w3-container">
            <form class="w3-container w3-half">
                <p>
                    <label class="w3-text-red" ng-show="error">{{error}}</label>
                </p>
                <p>
                    <label>Nombre de la Banda</label>
                    <input class="w3-input w3-validate" type="text" required ng-model="bandInfo.nombreBanda">
                </p>
                
                <p>
                    <label>Nombre Usuario</label>
                    <input class="w3-input w3-validate" type="text" disabled="" ng-model="bandInfo.username">
                
                <p>
                    <label>Hashtag</label>
                    <input type="text" class="w3-input" ng-model="bandInfo.hashtag" required="">
                </p>

                <p>                </p>

                    <label>Generos Musicales</label>
                    <div ng-repeat="genero in generos">
                    <input class="w3-check" type="checkbox"  ng-click="toggleSelectionB(genero.idGenero)">
                    <label>{{genero.nombre}}</label>
                    </div>
                
                <p>
                    <label>Biografia</label>
                    <textarea class="w3-input" maxlength="300" cols="30" required ng-model="bandInfo.biografia"></textarea>
                </p>
                
                <p>
                    <label>Integrantes</label>
                    <textarea class="w3-input" maxlength="300" required ng-model="bandInfo.integrantes"></textarea>
                </p>
                
                  <p>
                    <label>Pais</label>
                    <select class="w3-select" ng-model="bandInfo.idPais">
                        <option disabled selected>Seleccione un pais</option>
                        <option ng-repeat="pais in paises" ng-value="pais.idPais">{{pais.pais}}</option>
                    </select>
                </p>
                
                <p>
                    <label>Año de Creacion</label>
                    <input type="number" class="w3-input" min="0" ng-model="bandInfo.anioCreacion">
                </p>
                
                <p>
                    <label>Foto Perfil</label>
                    <input id="fotoB" type="file" accept="image/jpg,image/png,image/gif" class="w3-input" onchange="readURL(this,'#blahB');">
                </p>                
            </form>
            <div class="w3-center w3-half">
                <h3>Foto Perfil</h3>
                <img id="blahF" ng-src="{{bandInfo.fotoPerfil}}" alt=""  style="width: 400px; height: 400px"/>
            </div>
        </div>
             <div class="w3-center">
                 <button class="w3-btn-block accent-color w3-half  w3-margin-bottom w3-border w3-round-large" ng-click="actualizarDatos()">Actualizar</button>
                 <button class="w3-btn-block w3-red w3-half w3-margin-bottom w3-border w3-round-large" ng-click="desactivarCuenta()">Desactivar Cuenta</button>                
            </div>
    </div>

</div>