<div class="w3-container w3-content" style="max-width:1400px;margin-top:10px">    
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m2">
            <!-- Profile -->
            <div class="w3-card-2 w3-round w3-white w3-margin-top">
                <div class="w3-container">
                    <h4 class="w3-center">Discografía</h4> 
                    <button ng-if="type==='banda'" class="w3-btn-block accent-color w3-tiny" onclick="document.getElementById('newDiscModal').style.display='block'">Agregar</button>         
                    <div ng-repeat="disc in discs">
                        <p><a href="" ng-click="viewDiscInfo(disc.idDiscografia)">{{disc.nombre}}</a></p>
                    </div>
                </div>                    
            </div>

            <div class="w3-card-2 w3-round w3-white w3-margin-top w3-hide-small" ng-if="discInfo && tipo==='view'">
                <h4 class="w3-center">Comentarios</h4> 
                <div class="w3-container" ng-repeat="comment in discComments">
                    <span class="w3-right w3-opacity">{{comment.fecha | date:'dd/MM/yyyy HH:mm'}}</span>
                    <h3>Por: {{comment.creadoPor}}</h3>
                    <p>{{comment.comentario}}</p>
                </div>                    
            </div>
        </div>
        <div class="w3-col m10" ng-if="discInfo && tipo==='view'">
            
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-responsive"><br>
                <div class="w3-right w3-large w3-margin-left">Calificación: {{discRate}}<i class="fa fa-star w3-margin-left"></i></div>
                <div class="w3-right"><button class="w3-btn accent-color" onclick="document.getElementById('rateModal').style.display='block'" ng-if="type==='fan'">Calificar y comentar </button></div>
                <div class="w3-left">
                    <p>Nombre Disco: {{discInfo.nombre}}</p>
                    <p>Descripción: {{discInfo.descripcion}} </p>
                    <p>Sello: {{discInfo.selloDiscografico}}</p>
                    <p>Género: {{discInfo.generoMusical}}</p>
                    <p>Año: {{discInfo.anioPublicacion}}</p> 
                    <div class="w3-left" ng-if="type==='banda'">
                        <button class="w3-btn w3-red w3-tiny w3-margin" ng-click="deleteDisc(discInfo.idDiscografia)" >Eliminar</button> <!--ngClick-->
                        <button class="w3-btn accent-color w3-tiny w3-margin" ng-click="editDisc(discInfo.idDiscografia)" >Editar</button> <!--href-->
                    </div>
                </div> 
                <table class="w3-table w3-bordered w3-striped w3-margin-bottom">
                    <thead class="dark-primary-color text-primary-color">
                        <tr >
                            <th>Nombre</th>
                            <th>Duración</th>
                            <th>Link</th>
                            <th>En vivo</th>
                            <th>Limitada</th>
                            <th>Bonus</th>
                            <th colspan="2" class="w3-center" ng-if="type==='banda'">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="type==='banda'">
                            <td colspan="3" class="w3-tiny">Nota: Link debe ser el embebido de YouTube</td>
                        </tr>
                        <tr ng-if="type==='banda'">
                            <td><input class="w3-input w3-border" type="text" ng-model="newSong.nombre" ></td>
                            <td><input class="w3-input w3-border" placeholder="hh:mm:ss" type="text" ng-model="newSong.duracion"></td>
                            <td><input class="w3-input w3-border" type="text" ng-model="newSong.linkVid"></td>
                            <td><input class="w3-check " type="checkbox" ng-model="newSong.enVivo" name="bool"></td>
                            <td><input class="w3-check" type="checkbox" ng-model="newSong.limitada" name="bool"></td>
                            <td><input class="w3-check" type="checkbox" ng-model="newSong.bonus" name="bool" ></td>
                            <td><button class="w3-btn w3-green" ng-click="createSong()" ng-if="type==='banda'" ng-disabled="isEditSong">Agregar</button></td>
                            <td><button class="w3-btn light-primary-color primary-text-color" ng-click="updateSong()" ng-disabled="!isEditSong" ng-if="type==='banda'">Actualizar</button></td>
                        </tr>
                        <tr ng-repeat="song in discSongs">
                            <td>{{song.nombre}}</td>
                            <td>{{song.duracion}}</td>
                            <td><a href="" ng-click="viewVid(song.linkVid)">Ver Video</a></td>
                            <td><input class="w3-radio" type="radio" ng-checked="{{song.enVivo}}" disabled></td>
                            <td><input class="w3-radio" type="radio" ng-checked="{{song.limitada}}" disabled></td>
                            <td><input class="w3-radio" type="radio" ng-checked="{{song.bonus}}" disabled></td>
                            <td><button class="w3-btn w3-red" ng-click="deleteSong(song.idCancion)" ng-if="type==='banda'">Eliminar</button></td>
                            <td><button class="w3-btn accent-color" ng-click="getSong(song.idCancion)" ng-if="type==='banda'">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="w3-center">
                    <iframe width="420" height="315"
                            ng-src="{{detailFrame}}">
                    </iframe>
                </div>
            </div>
        </div>
        
        <!-- Edicion de discografia -->
        <div class="w3-col m10" ng-if="tipo === 'edit'">
            <div class="w3-container w3-card-2 w3-white w3-round w3-margin w3-responsive"><br>
                <div class="w3-center">
                    <form>
                        <p>Nombre Disco: <input type="text" class="w3-input" ng-model="discInfo.nombre"></p>
                        <p>Descripción <input type="text" class="w3-input" ng-model="discInfo.descripcion"></p>
                        <p>Sello <input type="text" class="w3-input" ng-model="discInfo.selloDiscografico"></p>
                        <p>Género <input type="text" class="w3-input" ng-model="discInfo.generoMusical"></p>
                        <p>Año <input type="number" class="w3-input" ng-model="discInfo.anioPublicacion"></p> 
                        <button class="w3-btn-block w3-green w3-margin-bottom" ng-click="updateDisc()">Actualizar</button>
                    </form>
                </div>                
            </div>
            
            
        </div>
        
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
    
    <!--Modal-->
    
    <div id="newDiscModal" class="w3-modal">
        <span onclick="document.getElementById('newDiscModal').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-hor-8 w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">
            
            <header class="w3-center w3-container default-primary-color"><br>
                <h1 class="w3-xxlarge primary-text-color">Agregar Disco</h1>
            </header>
            
            <div class="w3-container">
                <form class="w3-section">
                    <label><b>Nombre Disco<sup class="w3-text-red">*</sup></b></label>
                    <input type="text" class="w3-input" ng-model="newDisc.nombre"/>
                    
                    <label><b>Descripción</b></label>
                    <textarea class="w3-input w3-border" maxlength="100" placeholder="(opcional)" ng-model="newDisc.descrpcion"></textarea>
                    
                    <label><b>Sello</b></label>
                    <input type="text" class="w3-input" placeholder="(opcional)" ng-model="newDisc.selloDiscografico"/>
                    
                    <label><b>Género<sup class="w3-text-red">*</sup></b></label>
                    <input type="text" class="w3-input" ng-model="newDisc.generoMusical"/>
                    
                    <label><b>Año<sup class="w3-text-red">*</sup></b></label>
                    <input type="number" min="0" class="w3-input" ng-model="newDisc.anioPublicacion"/>
                    
                    
                    <button class="w3-btn w3-btn-block w3-green w3-margin-top" ng-click="createDisc()">Agregar</button>
                </form>
            </div>
            
            <div class="w3-container w3-border-top w3-padding-hor-16 w3-light-grey">
                <button onclick="document.getElementById('newDiscModal').style.display='none'" type="button" class="w3-btn w3-red">Cancelar</button>
            </div>
            
        </div>
    </div>
    
    <div id="rateModal" class="w3-modal">
        <span onclick="document.getElementById('rateModal').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-hor-8 w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">
            
            <header class="w3-center w3-container default-primary-color"><br>
                <h1 class="w3-xxlarge primary-text-color">Calificar Disco</h1>
            </header>
                
            <div class="w3-container">
                <form class="w3-section">
                    <label><b>Calificación</b></label>
                    <select class="w3-select" required="" ng-model="newComment.calificacion">
                        <option disabled="" selected>1-5 estrellas</option>
                        <option value="1">
                            &#9733;
                        </option>
                        <option value="2">
                            &#9733;
                            &#9733;
                        </option>
                        <option value="3">
                            &#9733;
                            &#9733;
                            &#9733;
                        </option>
                        <option value="4">
                            &#9733;
                            &#9733;
                            &#9733;
                            &#9733;
                        </option>
                        <option value="5">
                            &#9733;
                            &#9733;
                            &#9733;
                            &#9733;
                            &#9733;
                        </option>
                    </select>
                    
                    <label><b>Comentario</b></label>
                    <textarea class="w3-input w3-border w3-margin-bottom" maxlength="100" ng-model="newComment.comentario"></textarea>
                        
                    <button class="w3-btn w3-btn-block w3-green w3-margin-top" ng-click="calificar()">Crear</button>
                </form>
            </div>
                
            <div class="w3-container w3-border-top w3-padding-hor-16 w3-light-grey">
                <button onclick="document.getElementById('rateModal').style.display='none'" type="button" class="w3-btn w3-red">Cancelar</button>
            </div>
                
        </div>
    </div>
    
</div>
